ENVIRONMENT=development
POSTGRES_URL=postgres://postgres:postgres@localhost:5432/tasks_db
TEST_POSTGRES_BASE_URL=postgres://postgres:postgres@localhost:5432
PORT=8000
DEFAULT_API_KEY=dev-test-api-key-12345
